JWT_SECRET_KEY=<replace>

COMPOSE_PROFILES=instrumentation
OTEL_SDK_DISABLED=false

# to expose outside, here's an example config. Depending on your setup, you'll need to configure reverse proxy
## Endpoint used by frontend to access backend
#BACKEND_API_URL=https://mailg.example.com/api

GF_VIEWER_USER=readonly
GF_SECURITY_ADMIN_PASSWORD=<replace to protect grafana access>
GF_VIEWER_PASSWORD=<replace to protect grafana access>

# This makes grafana publicly available
#GF_SERVER_ROOT_URL=https://mailg.example.com/grafana
#GF_SERVER_SERVE_FROM_SUB_PATH=true

#POSTGRES_USER=mailg
#POSTGRES_PASSWORD=<replace me>
## Change the user/password to values above
#DATABASE_URL=postgresql+psycopg2://mailg:mailg@postgres:5432/postgres