/* Top-level container for the ActionBar */
.container {
  border-bottom: 1px solid rgb(229, 229, 229);
  white-space: nowrap;
  position: relative;
  z-index: 3;
  border: none;
  padding: 0 16px;
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: space-between;
  margin: 0 16px 0 0;
  margin-right: auto;
}

.action_item_container {
  position: relative;
  display: inline-flex;
  height: 100%;
  margin-left: -12px;
  padding-right: 8px;
  box-shadow: rgba(100, 121, 143, 0.12) -1px 0px 0px inset;
  margin-right: 20px;
}
